*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-columns: 710px 400px;
  grid-template-areas: "result details";
  align-items: end;
  column-gap: 30px;
  width: 1140px;
  height: 534px;
}

.result {
  grid-area: result;
}

.result__video-container {
  position: relative;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__details {
  grid-area: details;
  height: 534px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.content__list-container {
  position: relative;
  height: 298px;
  margin-top: 26px;
  overflow-y: scroll;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card:hover {
  cursor: pointer;
}

.content__card-link:focus-visible .content__video-card{
  outline: 1px solid #fff;
  outline-offset: 1px;
}


.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__card-link {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

.content__video-card-title {
  margin-bottom: 6px;
  font-size: 30px;
  line-height: 100%;
}

.content__video-card-description {
  font-weight: 400;
  font-style: normal;
  line-height: 16.2px;
}

/* search text*/
.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  opacity: 0.7;
  overflow: hidden;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-overflow: ellipsis;
  background-color: transparent;
  white-space: nowrap;
  appearance: none;
}

.search-form__textfield:active {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}



/* search checkbox */
.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
  background-color: transparent;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}


.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: flex;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__checkbox:hover,
.search-form__checkbox-list .search-form__label:hover{
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
}


.search-form__checkbox-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-form__label {
  display: flex;
  width: fit-content;

}

/* buttons */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  background-color: #1b1919;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  align-self: end;
  width: 194px;
}

.more-button {
  width: 100%;
  margin-top: 30px;
}